nodered/flows.json
[
    {
        "id": "02e369ca3e861a88",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f281e6fb90ac860",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "962fdc22bbb02a30",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "3c0a1a08e48a3301",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6be9d1ec86680b2f",
        "type": "ui-page",
        "name": "WaterRower Training",
        "ui": "962fdc22bbb02a30",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3c0a1a08e48a3301",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "649d48a9aacac42d",
        "type": "ui-group",
        "name": "Distance & Strokes",
        "page": "6be9d1ec86680b2f",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0f32cf1287e04a7d",
        "type": "ui-group",
        "name": "Pace & Power",
        "page": "6be9d1ec86680b2f",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8857d8536994b578",
        "type": "mqtt in",
        "z": "02e369ca3e861a88",
        "name": "",
        "topic": "waterrower/cadence",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f281e6fb90ac860",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "77bfb19cd332d4ae",
                "a3bf800f6cc453ba"
            ]
        ]
    },
    {
        "id": "77bfb19cd332d4ae",
        "type": "ui-chart",
        "z": "02e369ca3e861a88",
        "group": "649d48a9aacac42d",
        "name": "",
        "label": "Cadence",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "40",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "60",
        "removeOlderPoints": "150",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a3bf800f6cc453ba",
        "type": "ui-gauge",
        "z": "02e369ca3e861a88",
        "name": "",
        "group": "649d48a9aacac42d",
        "order": 3,
        "width": "6",
        "height": "5",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Cadence",
        "units": "spm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600"
            },
            {
                "from": "15",
                "color": "#ff9300"
            },
            {
                "from": "20",
                "color": "#00f900"
            },
            {
                "from": "26",
                "color": "#ff9300"
            },
            {
                "from": "32",
                "color": "#ff2600"
            }
        ],
        "min": "0",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "80484b4ae94002bc",
        "type": "ui-text",
        "z": "02e369ca3e861a88",
        "group": "649d48a9aacac42d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef792467acc069f6",
        "type": "mqtt in",
        "z": "02e369ca3e861a88",
        "name": "",
        "topic": "waterrower/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f281e6fb90ac860",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "9367afeeb7e9609a"
            ]
        ]
    },
    {
        "id": "9367afeeb7e9609a",
        "type": "function",
        "z": "02e369ca3e861a88",
        "name": "function 1",
        "func": "msg.payload = msg.payload + \" m\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "80484b4ae94002bc"
            ]
        ]
    },
    {
        "id": "504785cdc2b0a5f1",
        "type": "mqtt in",
        "z": "02e369ca3e861a88",
        "name": "",
        "topic": "waterrower/total_cycles",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f281e6fb90ac860",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "4c5972a44b7872fe"
            ]
        ]
    },
    {
        "id": "b71790f485e1d402",
        "type": "ui-text",
        "z": "02e369ca3e861a88",
        "group": "649d48a9aacac42d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stroke Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c5972a44b7872fe",
        "type": "function",
        "z": "02e369ca3e861a88",
        "name": "function 2",
        "func": "msg.payload = msg.payload + \" strokes\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "b71790f485e1d402"
            ]
        ]
    },
    {
        "id": "50cf442f84937ca6",
        "type": "mqtt in",
        "z": "02e369ca3e861a88",
        "name": "",
        "topic": "waterrower/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f281e6fb90ac860",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 600,
        "wires": [
            [
                "e30dabe8585409ea",
                "56b12bdd3dfedafc",
                "5a6dfa2edd3095a1"
            ]
        ]
    },
    {
        "id": "e30dabe8585409ea",
        "type": "ui-gauge",
        "z": "02e369ca3e861a88",
        "name": "",
        "group": "0f32cf1287e04a7d",
        "order": 3,
        "width": "6",
        "height": "5",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Power",
        "units": "W",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600"
            },
            {
                "from": "50",
                "color": "#ff9300"
            },
            {
                "from": "120",
                "color": "#00f900"
            },
            {
                "from": "200",
                "color": "#ff9300"
            },
            {
                "from": "300",
                "color": "#ff2600"
            }
        ],
        "min": "0",
        "max": "400",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 670,
        "y": 600,
        "wires": []
    },
    {
        "id": "56b12bdd3dfedafc",
        "type": "ui-chart",
        "z": "02e369ca3e861a88",
        "group": "0f32cf1287e04a7d",
        "name": "",
        "label": "Power",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "400",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "60",
        "removeOlderPoints": "150",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "72c90442c3debf3e",
        "type": "ui-text",
        "z": "02e369ca3e861a88",
        "group": "0f32cf1287e04a7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pace",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "98786a97b96c3b48",
        "type": "mqtt in",
        "z": "02e369ca3e861a88",
        "name": "",
        "topic": "waterrower/split",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f281e6fb90ac860",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "42f13ea6007b02df"
            ]
        ]
    },
    {
        "id": "42f13ea6007b02df",
        "type": "function",
        "z": "02e369ca3e861a88",
        "name": "function 3",
        "func": "msg.payload = `${Math.floor(msg.payload / 60)}:${Math.floor(msg.payload % 60).toString().padStart(2, '0')} /500 m`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "72c90442c3debf3e"
            ]
        ]
    },
    {
        "id": "79bf23f4eba698a9",
        "type": "ui-text",
        "z": "02e369ca3e861a88",
        "group": "0f32cf1287e04a7d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "5a6dfa2edd3095a1",
        "type": "function",
        "z": "02e369ca3e861a88",
        "name": "function 4",
        "func": "let maxPower = Math.max(parseInt(context.get(\"maxpower\")) || 0, msg.payload)\ncontext.set(\"maxpower\", maxPower)\nmsg.payload = `${maxPower} W`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 500,
        "wires": [
            [
                "79bf23f4eba698a9"
            ]
        ]
    }
]